.theme-light.slider-wrapper {
  background: #fff;
  padding: 0px;
  position: relative;
}

.theme-light .nivo-controlNav {
  width: 100%;
  text-align: center !important;
  position: absolute;
  bottom: 0px;
}