.footer {
  min-height: 8em;
  padding-top: 1em;
  padding-bottom: 1em;
  //margin-bottom: 1em;
  .widgettitle {
    color: #fff;
  }
  color: #ccc;
}

.footer-wrapper {
  background-color: $secondary-color;
}

.root-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -8em;
}
.push {
  height: 8em;
}
