.pre-topbar-container {
  position: relative;
  z-index: 1;
  margin-top: 1em;
  .widget_sparta_tools_counter {
    padding: 0;
  }
  img {
    max-height: 40px;
    max-width: 40px;
    padding: 0 0.3em;
  }
}
.topbar-container {
  height: 6em;
  z-index: 1;
  position: relative;
  .menu-wrapper {
    margin-top: 1.4em;
    height: 4.6em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
  }
  .menu {
    padding-left: 0;
    padding-right: 0;
  }
  .widget {
    background-color: #f56e00;
    @include single-transition();
    &:hover {
      background-color: darken($primary-color, 20%);
    }
    font-size: 1.6em;
    font-family: $headline;
    padding: 0.6em 0 0.4em;
    text-align: center;
    text-transform: uppercase;
  }
  .date {
    display: block;
    color: white;
  }
  .signup {
    display: block;
    color: $secondary-color;
  }
  img {
    max-height: 6em;
  }
}


// Hack on foundation menu
.top-bar-section li:not(.has-form) a:not(.button), .top-bar-section ul li {
  background-color: transparent !important;
  list-style: none;
}

.top-bar-section ul.dropdown li {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

/*.top-bar-section ul.dropdown li a:hover,
.top-bar-section ul.dropdown li ul li a:hover {
  background-color: $charcoal !important;
}*/

.top-bar-section ul:not(.dropdown) {
  margin-top: 1.6em;
}

.top-bar-section ul li > a {
  color: $primary-color;
  font-size: 1em;
  font-family: $headline;
  text-transform: uppercase;
}

