// Primary Colors
$primary-color: #0278b8; //sponsor color

$secondary-color: #4B4B4B;

// Footer
$footer-color: #DEDEDE;
$footer-text-color: $secondary-color;

// Header
$header-color: $primary-color;
