@import "../config/fonts";
@import "../config/colors";

.footer {
  min-height: 8em;
  padding-top: 1em;
  padding-bottom: 1em;
  //margin-bottom: 1em;
  color: $secondary-color;
}

.footer-wrapper {
  background-color: $footer-color;
}